
@model FFCNMaintenance.Models.MasterModel

@{
    if (Model.Communication != null)
    {
        <div style="margin-right:auto; margin-left:auto; width: 80%; margin-top: 25px;">
            <div>
                <span><b>First:</b> @Model.Primary[0].FirstName</span>
                <span><b>Last:</b> @Model.Primary[0].LastName</span>
                @Html.Hidden("masterModel.Communication[0].First", Model.First)
                @Html.Hidden("masterModel.Communication[0].Last", Model.Last)
                <span style="margin-left:20px;"><b>Communication/Activity:</b>
                @Html.TextArea("masterModel.Communication[0].Notes", null, new { style = "margin-left: 20px; width: 1000px; height: 400px;" })</span>
                <br />
                <br />
            </div>
            <table border="1">
                <thead>
                <th>Date</th>
                <th>Name</th>
                <th>Communication/Activity</th>
                </thead>
                @for (int i = 0; i < Model.Communication.Count(); i++)
                {

                    string name = "";
                    try
                    {
                        name = Model.Communication[i].tblUser.First + " " + Model.Communication[i].tblUser.Last;

                    }
                    catch
                    {
                        try
                        {
                            name = Model.Communication[i].tblUser.First;
                        }
                        catch { name = Model.Communication[i].First + " " + Model.Communication[i].Last; }
                    }


                    if (Model.Communication[i].CommnDate != null)
                    {
                        <tr>
                            <td>@Model.Communication[i].CommnDate</td>
                            <td>@name</td>
                            <td>@Model.Communication[i].Notes</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
    else
    {
        <div>Nothing</div>
    }


}
